<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
