<!DOCTYPE html>
<html>
  <head>
    {% block title %}
      <title>{{title}}</title>
    {% endblock %}
    {% block imports %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
