.container {
    display: flex;
}

.container.vertical.reversed {
    flex-direction: column-reverse;
}

.container.wrap {
    flex-wrap: wrap;
}

.container.center {
    align-items: center;
}

.container > aside {
    flex-grow: 0;
}

.container > main {
    flex-grow: 1;
}

.container.vertical {
    flex-direction: column;
}